# top directories to ignore
__pycache__
_build
xml
man
/out/
/.vscode/

# top files to ignore
/tags
/TAGS

# hidden files
.*

# cscope files
cscope.*
ncscope.*
doxygen-warning-log.txt

# editor backup files
*.bak
*.orig
*~

# misc
\#*#

# to include anyway
!.gitignore

ql-application/threadx/build
ql-application/threadx/common/lib
readme/
ql-config/
ql-bootloader/
ql-kernel/
ql-cross-tool/
readme.md

